{% extends 'products_manager/home.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | home 

{% endblock %}

{% block content %}
<br><br>

<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        {%  if messages %}
        {% for message in messages %}
        <script>
         alert('{{ message }}')
        </script>
        {% endfor %}
        {% endif %}
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form id="formAuthentication" class="mb-3"  enctype="multipart/form-data" style="font-size: larger;" method="POST">
           
  
            {% csrf_token %}
              {{ form.as_p }}
  
            <!-- Email input -->
            
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              
              <!-- <a href="{% url 'manager_forgotpassword' %}" class="text-body">Forgot password?</a> -->
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
                <a href="{% url 'manager_home' %}">
                <button  type="submit" value="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign in</button>
              </a>
            </div>
  
          </form>
        </div>
      </div>
    </div>
   
  </section>

{% endblock %}