{% extends 'products_manager/manager_base.html' %}
{% load static %}
{% block title %}

ELECTRONICS APPLIANCES | APPLIANCE LIST

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row column_title">
       <div class="col-md-12">
          <div class="page_title">
             <h2> APPLIANCES LIST </h2>
          </div>
       </div>
    </div>
 </div>
<br><br>


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-5">
      
     {% for appliance in appliances %}
     
     <div class="col-md col-lg-12">
       <div class="card mb-3">
         <div class="row g-0">
          
           <div class="col-md-4">
            <img class="card-img card-img-left" src="{{ appliance.image.url }}" alt="appliance image" height="90%" />
           </div>
           <a href="{% url 'manager_productview' appliance.id %}">
           <div class="col-md-8">
             <div class="card-body">
              
              <h6 class="card-title" style="text-transform: uppercase;">{{ appliance.author.first_name  }}</h6>
             <h5 class="card-title">{{ appliance.category }}  <b>{{ appliance.name  }} </b>   </h5>
             
             
             <p class="card-text"> 
             <!-- <small class="text-muted">Published on :{{ appliance.created_at}}</small></p> -->
             <p class="card-text" style="color: black;">{{ appliance.description|truncatewords:10 }}  </p><br>
              <h4 class="product-price">-{{ appliance.offer}}%   Rs. {{ appliance.discount }} </h4>   
              <h4> Rs.  <del class="product-old-price" style="color: red;">{{ appliance.price }} </del> </h4>
              {% if appliance.average_rating %}

              <h5> <p style=" color: black;">customer Rating :  {{ appliance.average_rating|floatformat:1 }}  out of  5 <br>
               
                {% for i in star_range %}
                {% if i <= appliance.average_rating %}
                
                    ⭐
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}

            {% else %}
            <p> No rating available in this appliance </p>
                </h5>
                {% endif %}
             </p>
             
            </a>
          </div>
          <div style="padding-left: 30%;">
            <!-- <a href="{% url 'manager_productview' appliance.id %}" class="btn btn-outline-prismary " style="background-color: brown; color: white;" >VIEW MORE</a> -->
            <!-- <a href="{% url 'manager_editproduct' appliance.id %}" class="btn btn-outline-primary " style="background-color: brown; color: white;" >EDIT </a> -->
          </div>
            </div>
            
          </div>
       </div>
     </div>
     {% empty %}
              <p>No appliances available.</p>
     
     {% endfor %}
    </div>
  </div>
{% endblock %}