{% extends 'products_manager/manager_base.html' %}
{% load static %}
{% block title %}

ELECTRONICS APPLIANCES | PROFILE

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row column_title">
       <div class="col-md-12">
          <div class="page_title">
             <h2> PROFILE </h2>
          </div>
       </div>
    </div>
</div>
 <hr class="my-0" />
 <div class="card-body">
 

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="firstName" class="form-label">Brand Name</label>
        <p><small class="text-muted">{{ user.first_name }}</small></p>
      </div>
      <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">User Name</label>
        <p><small class="text-muted">{{ user.username }}</small></p>
      </div>
      <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Email</label>
        <p><small class="text-muted">{{ user.email }}</small></p>
      </div>
      <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Phone</label>
        <p><small class="text-muted">{{ user.phone }}</small></p>
      </div>
      </div>
      </div>


{% endblock %}