{% extends 'sitevisitor/site_base.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | sitevisitor register 

{% endblock %}


{% block content %}
<!-- background-image: url('{% static "images/login-background.jpg" %}'); -->
<div  style="align-items: center; display: flex; justify-content: center; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); padding: 20px;
            border-radius: 2px; background: linear-gradient(#E9374C,#D31128);"  >

<div class="app-brand justify-content-center"  >
    <div class="row mb-5">
    <div class="container-xxl"  style="  background: rgba(255,255,255,0.99); ">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card" >
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="#" class="app-brand-link gap-2">
                
                  <span class="app-brand-text demo text-body fw-bolder"></span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Adventure starts here </h4>
              <p class="mb-4">Make your app management easy and fun!</p>
               <h6 style="color: rgb(93, 93, 179);">USER DETAILS </style></h6>
               <form id="formAuthentication" class="mb-3" enctype="multipart/form-data"  style="font-size: larger;" method="POST" style="align-items: center;padding: 20px">
                {% csrf_token %}
                
                  
                  {{ form.as_p }}
              
                
              
                <h6 style="color: rgb(93, 93, 179);">PROFILE DETAILS </style></h6>
                {{ pro_form.as_p }}
            

                <br>
                <div class="mb-3" style="padding-left: 60%;">
                  
                <a href="{% url 'site_login' %}" ></a>
                <button class="btn btn-primary d-grid w-100" style=" color: rgba(255,255,255,0.8);
                background: #E9374C;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                width: 100%;
                margin: 0 0 10px 0;
                border: none;
                border-radius: 20px;
                transition: all 0.3s ease;" type="submit" >REGISTER</button>

                </form></div><br>

              <p >
                <span>Already have an account?</span>
                <a href="{% url 'site_login' %}">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>
  
  </div>
    </div></div>
{% endblock %}