{% extends 'sitevisitor/site_base.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | reset password

{% endblock %}

{% block content %}


<div class="container-xxl flex-grow-1 container-p-y" style=" align-items: center;  justify-content: center; padding-left: 20%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); padding: 40px;
            border-radius: 8px; background: linear-gradient(#E9374C,#D31128); ">
	<div class="row" >
		<div class="col-sm-4">
		    <form method="POST"  action="{% url 'site_resetpassword' %}" >
                {% csrf_token %}
                {{ form.as_p }}
		    
            <div class="form-group"><a href="{% url 'site_login' %}">
                <input name="recover-submit" class="btn btn-lg btn-primary btn-center"  value="Reset Password" type="submit"
                style=" color: rgba(255,255,255,0.8);
                background: #E9374C;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                width: 100%;
                margin: 0 0 10px 0;
                border: none;
                border-radius: 20px;
                transition: all 0.3s ease;">
                </a>
                </div>
            </form>
            <div></div>
		</div>  
	</div>

</div>

{% endblock %}