{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | Adminhome 

{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>Dashboard</h2>
         </div>
      </div>
   </div>
</div>

<div class="row column1">
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-user yellow_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no"> {{ user_count}} </p>
                <p class="head_couter">USERS</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-clock-o blue1_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no"> {{ manager_count }} </p>
                <p class="head_couter"> BRANDS </p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-cloud-download green_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no"> {{ appliance_count }} </p>
                <p class="head_couter">APPLIANCES</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3">
       <div class="full counter_section margin_bottom_30">
          <div class="couter_icon">
             <div> 
                <i class="fa fa-comments-o red_color"></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no"> {{ category_count }} </p>
                <p class="head_couter">CATEGORIES</p>
             </div>
          </div>
       </div>
    </div>
 </div>



{% endblock %}