{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | Reset password

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row column_title">
       <div class="col-md-12">
          <div class="page_title">
             <h2>RESET PASSWORD</h2>
          </div>
       </div>
    </div>
 </div>
 <br><br>
<div class="container" style="background-color: white;">
	<div class="row">
		<div class="col-sm-4">
		    <form method="POST" action="{% url 'admin_resetpassword' %}">
                {% csrf_token %}
             <label>Current Password</label>
		    <div class="form-group pass_show"> 
                {{ form.old_password }} 
                <!-- <input type="password" value="faisalkhan@123" class="form-control" placeholder="Current Password">  -->
            </div> 
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                {{ form.new_password1 }} 
                <!-- <input type="password" value="faisal.khan@123" class="form-control" placeholder="New Password">  -->
            </div> 
		       <label>Confirm Password</label>
            <div class="form-group pass_show"> 
                {{ form.new_password2 }} 
                <!-- <input type="password" value="faisal.khan@123" class="form-control" placeholder="Confirm Password">  -->
            </div> 
                <!-- {{ form.as_p}} -->

                 <!-- Display individual field errors -->
    {% if form.errors %}
    <div class="errors">
      <ul>
        {% for field, errors in form.errors.items %}
          <li>{{ field }}: {{ errors|join:", " }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
            </div>  
        </div>
    
    
      <div class="form-group">
      <input name="recover-submit" class="btn btn-lg btn-primary btn-center"  value="Reset Password" type="submit">
    </div>
    </form>
    </div>
    
   
{% endblock %}