{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
ELECTRONICS APPLIANCES | users list

{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>USERS LIST </h2>
         </div>
      </div>
   </div>
</div>


<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
       <div class="full graph_head">
          <div class="heading1 margin_0">
             <h2>ALL USERS</h2>
          </div>
       </div>
       <div class="table_section padding_infor_info">
          <div class="table-responsive-sm">
             <table class="table table-dark table-striped">
                <thead>
                   <tr>
                      <th>FIRST NAME</th>
                      <th>USERNAME</th>
                      <th>EMAIL</th>
                      <th>PHONE</th>
                      <th>STATUS</th>
                      <th>ACTIONS</th>
                      
                   </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                   <tr>
                      <td>{{ user.first_name}}</td>
                      <td>{{ user.username}} </td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.phone}}</td>
                      <td> <form action="{% url 'admin_userstatus' user.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}" >
                        {% if user.is_active %}
                        <button type="submit" name="Status" value="deactivate" class="btn btn-outline-primary">DEACTIVATE</button>
                        {% else %}
                        <button type="submit" name="Status" value="activate" class="btn btn-outline-primary">ACTIVATE</button>
                        {% endif %}
                      </form>
                     </td>
                      <td>   <div class="dropdown_section">
                        <div class="dropdown dropleft">
                           <button type="button" class=" dropdown-toggle" data-toggle="dropdown"> </button>
                           <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'admin_userview' user.id %}">View Profile</a>
                              <!-- <a class="dropdown-item" href="#">Dropdown link</a> -->
                              <!-- <a class="dropdown-item" href="#">Dropdown link</a> -->
                           </div>
                        </div>
                     </div>
                  </td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
 <br><br><br><br><br><br><br><br><br>
 {% endblock %}